<div class="container">
  
    <div class="title-container">
        <h2>Technlogies<a class="plus" routerLink ="admin/addTechnology" *ngIf="getRol()"><i class="fa fa-solid fa-circle-plus"></i></a></h2>
    </div>
<div  *ngIf="error !== null">

        <h3 id="error" class="elegantshadow"> <img style="width:30px" src="./assets/img/pixlr-bg-result.png" alt=""> {{error}}</h3>
</div>
    <div *ngFor ="let item of technology" class="tech-container">
        <a *ngIf="getRol()" href="" (click)="deleteTech(item.idTechnology)">
            <i class="fa fa-solid fa-trash" id="delete"></i>
        </a>
        <h4><!-- Tech name-->{{item.nameTechnology}}</h4>

        <div class="progress">
            <div *ngIf="item.level === 'Basic'" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
            <div *ngIf="item.level === 'Mid-Level'" class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            <div *ngIf="item.level === 'Advanced'" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
            <div *ngIf="item.level === 'Expert'" class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
    </div>
    




</div>

