* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
}
.alert{
    color:red;
}
.fondo {
    background-color: #35c;
    padding: 0;
    margin: 0;
    display: flex;
    top: 0;
    text-align: center;
    justify-content: center;
    justify-items: center;
    height: auto;
}
.form-container{
    background-color: #333;
    padding: 30px;
    width: 100%;
    border: 1px solid black;
    margin-top:0 auto;
}

.container-person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 10px;
    width: 30%;
    height: 100%;
    margin-top:0 auto;
}

.form{
    display: block;
    margin:30px auto;
    width: 100%;
    outline: none;
    border:none;
    padding: 5px;
    font-size: 20px;
    color:#222;
    background-color: transparent;
    border-bottom:1px solid #aaa;
    color:rgb(255, 145, 0);
}

.form:focus{
    font-size:25px;
    border-bottom:3px solid rgb(225, 171, 100);
    color:#999;
}

.form::placeholder{
    color:#666;
}

#btn-submit{
    padding: 10px;
    border:none;
    outline: none;
    margin-top:60px;
}



#btn-submit:hover{
    font-style: italic;
    border:none;
    outline: none;
}

#btn-submit:active{
    font-size:15px;
    border:none;
    outline: none;
}


h5{
    color:#45b;
}
.bar{
    background-color: #ff8000;
    height: 40px;
}
.bar a{
    padding:30px;
}
.bar i:hover{
    color:#000;
}

#file{
    display: block;
}
.preview-container{
    position:relative;
    top:30px;
    right:15px;
    width: 360px;
    height: auto;
    border:3px solid #934;
    background-color: transparent;
  }
  .text-preview{
    width: 352px;
    display:block;
    border-bottom:1px solid black;
    background-color: #38a;

  }

  .img-preview{
    text-align: start;
    width: 352px;

  }
@media screen and (max-width: 915px) {

    .container-person{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        padding: 10px;
        width: 70%;
        height: 100%;
        margin-top:0 auto;
    }
    
    .form{
        display: block;
        margin:20px auto;
        width: 100%;
        outline: none;
        border:none;
        padding: 5px;
        font-size: 15px;
        color:rgb(255, 145, 0);

        background-color: transparent;
        border-bottom:1px solid #aaa;
    }    

    #btn-submit{
        padding:5px;
        font-size: 15px;
    }
 
    #btn-submit:hover{
        font-style: italic;
        border:none;
        outline: none;
    }
    
    #btn-submit:active{
        padding:0px;
        border:none;
        outline: none;
    }


    #btn-get{
        padding:5px;
        font-size: 15px;
    }
 
    #btn-get:hover{
        font-style: italic;
        border:none;
        outline: none;
    }
    
    #btn-get:active{
        padding:0px;
        border:none;
        outline: none;
    }
    .form:focus{
        font-size:17px;
    }

}