<div class="container">
    <div class="container-title">
        <h2>Projects <a *ngIf="isAdmin()" class="plus" routerLink="admin/projects/addProject"><i
                    class="fa fa-solid fa-circle-plus"></i></a></h2>

    </div>
    <h3 *ngIf="error !== null" id="error" class="elegantshadow"> <img style="width:30px" src="./assets/img/pixlr-bg-result.png" alt=""> {{error}}</h3>
    <div class="container-experience">
        
        <div class="container-experience-info">
            <div class="experience" *ngFor="let item of project;let i = index">
                <a href="/home"><i class="fa fa-solid fa-trash" id="delete"></i></a>
                <a href=""><i class="fa fa-solid fa-pen" id="edit" (click)="idEditProject(item.idproject)"></i></a>
                <h5 style="color:#c79324;font-weight: normal;opacity: 20%;text-shadow: 1px 1px 1px #000000;">Project
                    {{i+1}}</h5>
                <h5 *ngIf="item.img !==null"><b><a (click)="viewPhoto(i)" href="/#open"><i style="color:#c79324"
                                class="fa fa-solid fa-camera"></i></a></b></h5>
                <h5><b>Name:</b> <span style="margin-top:10px;">{{item.project_name}}</span> </h5>
                <h5><b>Technologies used:</b><span>
                        <ul style="margin-left:8px;margin-top:10px;">
                            <li *ngFor="let tech of item.listTechXProject">{{tech.nameTechnology}}</li>
                        </ul>
                    </span> </h5>
                <h5 *ngIf="item.url !==''"><b>Url:</b> <span style="margin-top:10px;"><a href="{{item.url}}"
                            style="padding:0;" target="_blank">Press here</a></span> </h5>
                <h5 *ngIf="item.urlGit !==''"><b>Url (GitHub):</b> <span style="margin-top:10px;"><a
                            href="{{item.urlGit}}" style="padding:0;" target="_blank">Press here</a></span> </h5>


            </div>
        </div>

    </div>

</div>

<!--Modal view project imgs.-->
<div id="open" class="modalDialog">
    <div style="width:710px;height:710px;">
        <a href="/#close" title="Close" class="close">X</a>
        <div *ngFor="let item of project">
            <img *ngIf="this.photo == item.idproject" src="data:image/png;base64,{{project[item.idproject].img.data}}"
                width="650" height="650">
        </div>
    </div>
</div>