<div class="container">

    <div class="container-title">

        <h2>Work Experience</h2>
    </div>

    <div class="container-experience">

        <div class="container-experience-info">
        <div class="experience">

            <h5>Work position: <span>qwe</span></h5>
            <h5>From: <span>2021-11-08</span></h5>
            <h5>Until: <span>2022-03-01</span></h5>
            <h5>Company: <span>asdsdsd</span></h5>
            <h5>Company: <span> Srem ipsum dolor sit amet consectetur adipisicing elit. Id consectetur ullam est perspiciatis, dolor tempore mollitia optio! Itaque quae natus incidunt, ab autem, eius numquam, repellendus assumenda porro maxime accusantium!</span></h5>


        </div>
    </div>

    </div>

</div>
